---
page_title: "Provider: cidrblock"
subcategory: ""
description: |-
  The cidrblock provider is used to get unallocated subnet prefixes from parent CIDR.
---

# cidrblock provider

The cidrblock provider is used to get unallocated subnet prefixes from parent CIDR.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{- /* No schema in this provider, so no need for this: .SchemaMarkdown | trimspace */ -}}
